<div class="container-fluid">
  <div class="row" style="padding:0px 0px 20px">
    <div class="col-md-12 " >
      <h2><%= @meet.title %></h2>
      </div>
      <div class="col-md-2 " >
      <h2>
      <% if current_user && current_user == @meet.user %>
        <%= link_to 'Delete', meet_path(@meet), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_meet_path(@meet), class: "btn btn-primary" %>
      <% end %>
      </h2>
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row">
      <div class="col-md-1 " >
        <%= image_tag("male.png", class:"img-responsive") %>
      </div>
      <div class="col-md-11" >
        <h5>created by <%= link_to @meet.user.name, '#' %></h5>
        <h5>group: <%= link_to @meet.group.name, group_path(@meet.group_id) %></h5>
        <h5>place: <%= link_to @meet.place.name, place_path(@meet.place_id) %></h5>
        details: <%= @meet.content %>
      </div>
  </div>
  <div class="row ">
    <div class="col-md-12" >
      <h3>Comments:</h3>
    </div>
  </div>
  <div class="row ">
  <div class="col-md-12 replies" >
    <% @comments.each do |c| %>
      <%= render partial: 'comments/comment', locals: {c: c} %>
    <% end %>
  </div>
</div>
</div>
<div class="row ">
  <div class="col-md-12">
    <% if current_user %>
      <%= render partial: 'comments/comment_box', locals: {meet: @meet} %>
    <% else %>
      <%= link_to "please login to make a comment", login_path %>
    <% end %>
  </div>
</div>